@import url('https://fonts.googleapis.com/css?family=Sigmar|Serif');

body {
    background-color: #121212;
    color: #ffffff;
    font-family: serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1e1e1e;
    font-family: "sigmar";
}
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    align-items: center;
    font-family: serif;
}
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-family: serif;
}
.btn,.btnli, .btn-outline {
    background-color: #53131E;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-family: serif;
}
.btn-outline {
    background-color: transparent;
    border: 2px solid #464646;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #1e1e1e;
    flex-wrap: wrap;
}
.hero-text {
    max-width: 50%;
    font-family: "sigmar";
}
.hero-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
}
.sub-header {
    text-align: center;
    padding: 30px;
    background-color: #222;
    font-family: "sigmar";
}
.blog-section {
    display: flex;
    gap: 20px;
    padding: 40px;
    justify-content: center;
    flex-wrap: wrap;
}
.blog-card {
    background-color: #1e1e1e;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    text-align: center;
}
.blog-image img {
    width: 100%;
    height: auto;
    max-height: 200px;
    display: block;
}
footer {
    background-color: #121212;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-links {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.footer-links .column {
    display: flex;
    flex-direction: column;
}
.footer-links a {
    color: #464646;
    text-decoration: none;
    font-family: serif;
}
.copyright {
    text-align: center;
    padding: 20px;
    background-color:#53131E;
}